// vi: ft=groovy ts=4 sw=4 expandtab

// "borrowed" from
// https://github.com/opscode-cookbooks/jenkins/blob/master/libraries/credentials.rb
// and
// https://github.com/opscode-cookbooks/jenkins/blob/master/libraries/_helper.rb

// import jenkins.model.* // included by default
import com.cloudbees.plugins.credentials.* // for CredentialsMatchers, CredentialsProvider
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.domains.SchemeRequirement
import com.cloudbees.jenkins.plugins.sshcredentials.SSHUserPrivateKey
import com.cloudbees.hudson.plugins.folder.Folder
import com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider


def get_credentials(path) {
  	folders = path.replaceAll('/job', '').replaceFirst(/^\//, '').split('/')
 	model = Jenkins.getInstance()
  	creds = Jenkins.getInstance().getExtensionList(SystemCredentialsProvider.class)[0].getStore().getCredentials(Domain.global())
  
  for (folder in folders) {
  	model = model.getItemByFullName(folder, Folder.class)
    store =new FolderCredentialsProvider().getStore(model)
    creds = store.getCredentials(Domain.global())
  }
  
  return creds
}

def get_credentials_for_id(id, path) {
    username_matcher = CredentialsMatchers.withId(id)
    available_credentials = get_credentials(path)

    return CredentialsMatchers.firstOrNull(available_credentials, username_matcher)
}
c = get_credentials_for_id('6585ee03-2e76-48c4-9d52-ad421dc24f57', '/job/Limbo1')

c ? c.id : "not found"